.Product-item {
    max-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    width: 280px;
    background-color: white;
    margin: 10px;
    padding-bottom: 60px;
}

.Product-title {
    padding: 5px;
}

.Product-image {
    width: 200px;
}

.Product-prices {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Product-prices h3 {
    margin-bottom: 0;
}
.Product-prices div {
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(69, 69, 69);
}

.Add-product {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}
.Btn-add {
    width: 70px;
    height: 30px;
    background-color: cadetblue;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

.Btn-add:hover {
    cursor: pointer;
    background-color: rgb(215, 191, 162);
}
