.Home-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Product-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}